<h1>Bienvenido {{nombre}} </h1>
    
        <section id="conviertete-en-orador" class="pt-3 pb-3">
                   <div >
                    <div style="margin-top: 1%; margin-bottom: 1%; width: 100%; background-image: url(./img/fondo.jpg); background-size: cover;" class="container">
                        <ul class="nav nav-tabs" style="--bs-nav-link-color: white; " role="tablist">
                            <li class="nav-item" role="presentation">
                              <a class="nav-link active " data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Fase de Grupos</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link " data-bs-toggle="tab" href="#cuartos" aria-selected="false" tabindex="-1" role="tab">Cuartos de Final</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link " data-bs-toggle="tab" href="#semi" aria-selected="false" tabindex="-1" role="tab">Semifinales  y Final</a>                              </li>
                              <li class="nav-item" role="presentation">
                                <a class="nav-link " data-bs-toggle="tab" href="#puntuacion" aria-selected="false" tabindex="-1" role="tab">Puntuacion</a>
                              </li>
                          </ul>

                          <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade show active" id="home" role="tabpanel">
                                <div class="card-body">
                          
                                    <div class="boxesContainer">
                                        <div class="cardBox">
                                          <div class="card1" >
                                            <div  class="front" >
                                                <img  src="./img/Grupo A.jpg" ></img>                   
                                            </div>
                                            <div class="back">
                                                <p style="font-size: small">COAGULOPATÍAS Y USO DE ANTICONCEPTIVOS ORALES COMBINADOS</p>
                                                <p style="font-size: small">By FAES FARMA COLOMBIA</p>
                                                <p style="font-size: small">4 Paginas</p>
                                              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                              <a class="btn btn-primary"  href="all-notes-pronos" target="_blank">Ingresa Pronostico</a>
                                              <a class="btn btn-primary"  href="/Estudios/3.1.pdf" target="_blank">Ver Resultados</a>
                                            </div>
                                          </div>
                                        </div>  
                                      </div>
                                      <div class="cardBox">
                                        <div class="card1" >
                                          <div  class="front" >
                                              <img  src="./img/grupo B.jpg" ></img>                   
                                          </div>
                                          <div class="back">
                                            <p style="font-size: small">COAGULOPATÍAS Y USO DE ANTICONCEPTIVOS ORALES COMBINADOS</p>
                                            <p style="font-size: small">By FAES FARMA COLOMBIA</p>
                                            <p style="font-size: small">4 Paginas</p>
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                              <a class="btn btn-primary"  href="/Estudios/1.1.pdf" target="_blank">Ingresa Pronostico</a>
                                            <a class="btn btn-primary"  href="/Estudios/3.1.pdf" target="_blank">Ver Resultados</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="boxesContainer">
                                    <div class="cardBox">
                                      <div class="card1" >
                                        <div  class="front" >
                                            <img  src="./img/grupo c.jpg" ></img>                   
                                        </div>
                                        <div class="back">
                                          <p style="font-size: small">ETINILESTRADIOL Y LEVONORGESTREL EN LACTANCIA MATERNA</p>
                                          <p style="font-size: small">By FAES FARMA COLOMBIA</p>
                                          <p style="font-size: small">4 Paginas</p>
                                          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                              <a class="btn btn-primary"  href="/Estudios/1.1.pdf" target="_blank">Ingresa Pronostico</a>
                                          <a class="btn btn-primary"  href="/Estudios/3.1.pdf" target="_blank">Ver Resultados</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cardBox">
                                    <div class="card1" style="margin-bottom: 3%;">
                                      <div  class="front" >
                                          <img  src="./img/grupo d.jpg" ></img>                   
                                      </div>
                                      <div class="back">
                                        <p style="font-size: small">ETINILESTRADIOL Y LEVONORGESTREL EN LACTANCIA MATERNA</p>
                                        <p style="font-size: small">By FAES FARMA COLOMBIA</p>
                                        <p style="font-size: small">4 Paginas</p>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                              <a class="btn btn-primary"  href="/Estudios/1.1.pdf" target="_blank">Ingresa Pronostico</a>
                                        <a class="btn btn-primary"  href="/Estudios/3.1.pdf" target="_blank">Ver Resultados</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="cuartos" role="tabpanel">
                                <div class="card-body">
                          
                                    <section id="speakers" class="mt-4">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col text-center text-uppercase">
                                              <small>CUARTOS </small>
                                              <h2>DE FINAL</h2>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="semi" role="tabpanel">
                                <div class="card-body">
                                    <section id="speakers" class="mt-4">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col text-center text-uppercase">
                                              <small>SEMI-FINAL </small>
                                              <h2>Y FINAL</h2>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="puntuacion" role="tabpanel">
                                <div class="card-body">
                          
                                    <section id="speakers" class="mt-4">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col text-center text-uppercase">
                                              <small>PUNTUACION </small>
                                              <h2>Y FINAL</h2>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
            </section> 